type display_data_file, data_file_type, core_data_file_type, file_type;
type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type persist_file, file_type;

type vendor_sysfs_graphics, sysfs_type, fs_type;
type sysfs_graphics, sysfs_type, fs_type;
type sysfs_kgsl, sysfs_type, fs_type;

type vendor_hal_citsensorservice_xiaomi_default, domain;

type xiaomi_settings, domain;

type hal_displayfeature_xiaomi_default, domain;
type hal_displayfeature_xiaomi_default_exec, exec_type, file_type;

type vtservice_exec, exec_type, file_type;
