allow vendor_init default_prop:file { read };
allow vendor_init default_prop:property_service { set };
allow vendor_init vts_status_prop:file { read };
