type hal_displayfeature_xiaomi_hwservice, dev_type;

binder_call(xiaomi_settings, hal_displayfeature_xiaomi_default)
binder_call(xiaomi_settings, gpuservice)
app_domain(xiaomi_settings)

allow xiaomi_settings system_app_data_file:{ file lnk_file } create_file_perms;
allow xiaomi_settings system_app_data_file:dir create_dir_perms;
allow xiaomi_settings sysfs_graphics:file rw_file_perms;
allow xiaomi_settings sysfs_graphics:dir search;
allow xiaomi_settings surfaceflinger_service:service_manager find;
allow xiaomi_settings nfc_service:service_manager find;
allow xiaomi_settings mediaserver_service:service_manager find;
allow xiaomi_settings mediametrics_service:service_manager find;
allow xiaomi_settings mediaextractor_service:service_manager find;
allow xiaomi_settings hidl_token_hwservice:hwservice_manager find;
allow xiaomi_settings hal_displayfeature_xiaomi_hwservice:hwservice_manager find;
allow xiaomi_settings drmserver_service:service_manager find;
allow xiaomi_settings cgroup:file rw_file_perms;
allow xiaomi_settings cameraserver_service:service_manager find;
allow xiaomi_settings audioserver_service:service_manager find;
allow xiaomi_settings app_api_service:service_manager find;
