on post-fs
    mount none /system/bin/hw/android.hardware.lights-service.mediatek /vendor/bin/hw/android.hardware.lights-service.mediatek bind
    mount none /system/lib64/hw/audio.bluetooth.default.so /vendor/lib64/hw/audio.bluetooth.default.so bind

on boot
    chown system system /sys/class/mi_display/disp-DSI-0/disp_param
    chmod 0664 /sys/class/mi_display/disp-DSI-0/disp_param